.CreateToDo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.CreateToDo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    height: 40px;
    width: 500px;
    border: 3px solid #7B68EE;
    border-radius: 10px;
    background: #00008B;
    margin-bottom: 7px;
    color: white;
    box-sizing: border-box;
}
.CreateToDo-input::placeholder {
    font-size: 15px;
}
.CreateToDo-addToDo {
    height: 30px;
    width: 30px;
    margin-bottom: 7px;
    margin-left: 10px;
    color: white;
}
.CreateToDo-addToDo:hover {
    color: #00F9A9;
    cursor: pointer;
}